<a href="https://colab.research.google.com/github/ImNotDanish05/2025_KC_TI-1A/blob/main/Jobsheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Tipe Data Python Integer
# By: Danish Mahdi
var = 123
print(type(var))

<class 'int'>

In [4]:
# By: Danish Mahdi
# Tipe data string
hmm = "Maaoww"
print(type(hmm))

<class 'str'>

In [5]:
# By: Danish Mahdi
# Tipe data numerik
var1 = 345
var2 = 34.5
f1 = float(var1)
print(type(f1))
print(f1)

sum_result = var1 + var2
print(sum_result)

var3 = 12.3
var4 = 12.9
i1 = int(var2)
i2 = int(var3)

print(i1)
print(i2)

<class 'float'>
345.0
379.5
34
12

In [7]:
var1 = 345
var2 = 34.5
print(var1 == var2)
print(var1 < var2)
print(var1 > var2)
print(var1 != var2)

False
False
True
True

In [8]:
my_list = ["belajar dasar python", 2023, 3.8, True]
print(my_list)

print(my_list[3])
print(my_list[1:3])
print(len(my_list))

['belajar dasar python', 2023, 3.8, True]
True
[2023, 3.8]
4

In [10]:
# By: Danish Mahdi
# Nilai Minimum dan Maximum
x = min(5, 10, 25)
y = max(6, 12, 18)

print(x, y)

5 18

In [11]:
# By: Danish Mahdi
# b.	Mendapatkan nilai absolut
x = abs(-7.25)
print(x)

7.25

In [12]:
# By: Danish Mahdi
# Mendapatkan nilai pangkat
import math
x = math.pow(4, 3)
print(x)

64.0