<a href="https://colab.research.google.com/github/ImNotDanish05/2025_KC_TI-1A/blob/main/P4-Jobsheet-Spread_%26_Distribution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
"""
1.	Pelemparan dadu sebanyak 25 kali. Angka yang keluar datanya adalah :
1 2 3 4 5 5 6 2 3 4 5 6 6 4 3 2 1 4 3 5 6 6 5 4 5
Modus dari data diatas adalah â€¦
"""

import numpy as np
data = [1, 2, 3, 4, 5, 5, 6, 2, 3, 4, 5, 6, 6, 4, 3, 2, 1, 4, 3, 5, 6, 6, 5, 4, 5]
print("Panjang:", len(data))
data2 = np.array(data)
urut_desc = -np.sort(-data2)
print(urut_desc)
counter = Counter(data)
print(counter)
modus = np.bincount(data).argmax()
print("Modus dari data diatas adalah:", modus)

Panjang: 25
[6 6 6 6 6 5 5 5 5 5 5 4 4 4 4 4 3 3 3 3 2 2 2 1 1]
Counter({5: 6, 4: 5, 6: 5, 3: 4, 2: 3, 1: 2})
Modus dari data diatas adalah: 5

In [68]:
"""
2.	Diketahui sebuah deret data 9, 10, 11, 6, 8, 7, 7, 5, 4, 5. Tentukan persentil ke-25 dan persentil ke-75 !
"""
import numpy as np
data = [9, 10, 11, 6, 8, 7, 7, 5, 4, 5]
print("Data awal: ", data)
print("n = ", len(data))
data2 = np.array(data)
urut_desc = np.sort(data2)
print("Data urut: ", urut_desc)

x = np.percentile(data, 25, method="weibull")
print("Percentile 25th adalah", x)
x = np.percentile(data, 75, method="weibull")
print("Percentile 75th adalah", x)
x = np.percentile(data, 25)
print("Percentile 25th adalah", x)
x = np.percentile(data, 75)
print("Percentile 75th adalah", x)

Data awal:  [9, 10, 11, 6, 8, 7, 7, 5, 4, 5]
n =  10
Data urut:  [ 4  5  5  6  7  7  8  9 10 11]
Percentile 25th adalah 5.0
Percentile 75th adalah 9.25
Percentile 25th adalah 5.25
Percentile 75th adalah 8.75

In [67]:
"""
3.	Pada sebuah kelas memiliki nilai hasil ujian yaitu 50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50, 51, 57, 60, 63, 65, 65, 53, 99. Beradasarkan data hasil ujian tersebut, tentukan :
a.	Urutkan data dari yang terkecil sampai data yang terbesar
b.	Identifikasi nilai first quartile (Q1) dan third quartile (Q3), dan IQR
c.	Tentukan nilai upper bound dan lower bound
d.	Tentukan nilai ujian yang menjadi outlier berdasarkan data hasil ujian diatas

"""

data = [50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50, 51, 57, 60, 63, 65, 65, 53, 99]
print("===[ Diketahui ]===")
print("Data awal: ", data)
print("n = ", len(data))

print(" ")
print("===[ Ditanya & Dijawab ]===")
print("a. Urutkan data dari yang terkecil sampai data yang terbesar ")
data2 = sorted(data)
print("Data urut: ", data2)

print(" ")
print("b. Identifikasi nilai first quartile (Q1) dan third quartile (Q3), dan IQR")
Q1 = np.median(data[:int(len(data)/2)])
print("Q1:", Q1)
Q3 = np.median(data[int(len(data)/2):])
print(f"Q3: {Q3}")
IQR = Q3 - Q1
print(f"IQR: {IQR}")

===[ Diketahui ]===
Data awal:  [50, 54, 62, 50, 52, 59, 61, 63, 65, 10, 53, 63, 65, 50, 59, 62, 50, 51, 57, 60, 63, 65, 65, 53, 99]
n =  25

===[ Ditanya & Dijawab ]===
a. Urutkan data dari yang terkecil sampai data yang terbesar
Data urut:  [10, 50, 50, 50, 50, 51, 52, 53, 53, 54, 57, 59, 59, 60, 61, 62, 62, 63, 63, 63, 65, 65, 65, 65, 99]

b. Identifikasi nilai first quartile (Q1) dan third quartile (Q3), dan IQR
Q1: 56.5
Q3: 60.0
IQR: 3.5