<a href="https://colab.research.google.com/github/ImNotDanish05/2025_KC_TI-1A/blob/main/Tugas%20Besar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data**

In [7]:
%%writefile data_customer.csv
CustomerID,Age,AnnualIncome,SpendingScore
1,19,15,39
2,21,15,81
3,20,16,6
4,23,16,77
5,31,17,40
6,22,17,76
7,35,18,6
8,23,18,94
9,64,19,3
10,30,19,72
11,67,20,14
12,35,20,99
13,58,21,15
14,24,21,77
15,37,22,13
16,22,22,79
17,35,23,35
18,20,23,66
19,52,24,29
20,18,24,98

Overwriting data_customer.csv

# **1. Pengolahan Data**

In [25]:
# @title 1.a. Baca file data_customer.csv menggunakan pandas.
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import os
from google.colab import drive
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

dataset = pd.read_csv('/content/data_customer.csv')

In [9]:
# @title 1.b. Tampilkan 5 data pertama.
dataset.head()

   CustomerID  Age  AnnualIncome  SpendingScore
0           1   19            15             39
1           2   21            15             81
2           3   20            16              6
3           4   23            16             77
4           5   31            17             40

In [16]:
# @title 1.c. Tampilkan informasi awal dataset: jumlah data, nama kolom, dan tipe data
print("=== Jumlah data ===")
x, y = dataset.shape
print(f"Jumlah data: {x}")
print(f"Jumlah baris: {y}")

print("  ")
print("=== nama kolom dan tipe data ===")
dataset.dtypes

=== Jumlah data ===
Jumlah data: 20
Jumlah baris: 4

=== nama kolom dan tipe data ===

CustomerID       int64
Age              int64
AnnualIncome     int64
SpendingScore    int64
dtype: object

# **2. Pembersihan Data**

In [17]:
# @title 2.a. Chek apakah ada missing value.?
dataset.isnull().sum()

CustomerID       0
Age              0
AnnualIncome     0
SpendingScore    0
dtype: int64

In [18]:
# @title 2.b. Tangani data yang hilang (jika ada) dengan pendekatan yang tepat
print("Tidak ada")

Tidak ada

In [19]:
# @title 2.c. Deteksi dan tangani outlier pada kolom Age, AnnualIncome, dan SpendingScore jika ada.
print("Tidak ada")

Tidak ada

# **3. Pemrosesan Data**

In [26]:
# @title 3.a. Lakukan normalisasi fitur numerik menggunakan Min-Max Scaling atau Standard Scaler.
scaler = MinMaxScaler()
# df_scaled = pd.DataFrame({
#     'Age',
#     'AnnualIncome',
#     'SpendingScore'
# })

df[['Age', 'AnnualIncome', 'SpendingScore']]= scaler.fit_transform(dataset[['Age', 'AnnualIncome', 'SpendingScore']])

NameError: name 'df' is not defined

In [ ]:
# @title 3.b. Buat scatter plot sebelum dan sesudah normalisasi untuk membandingkan persebaran data.